{% extends 'spaces_blog/base.html' %}

{% load i18n %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
<ul class="list-group media-list media-list-stream">
  <li class="media list-group-item p-a">
    <div class="media-body">
    <a href="{% url 'spaces_blog:index' %}" class="">
        <span class="icon icon-level-up">
        {% trans 'Back to overview' %}
    </a>
    </div>
  </li>


	{% include 'spaces_blog/includes/post.html' %}
</ul>
</div>


<div class="modal fade" id="postHistory" tabindex="-1" role="dialog" aria-labelledby="id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">Label" aria-hidden="true">>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="postHistoryLabel">{% trans 'Revisions of this article' %}</h4>
      </div>
      <div class="modal-body">
		{% for rev in revisions %}
			<a href="{% url "spaces_blog:history" post_slug=post.slug revision_id=rev.id %}">{{ rev.updated }}</a><br>
		{% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}